<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NetVision UAT">

<listeners>
<listener class-name="com.qa.ExtentreportListener.ExtentReporterNG" />
</listeners>

  <test name="UAT Test">
  
    <classes>
      <class name="com.netvision.qa.testcases.LoginPageTest"></class>
    <!-- <class name="com.netvision.qa.testcases.HomePageTest"></class> -->
    <!-- <class name="com.netvision.qa.testcases.SessionFiltersTest"></class> -->
    </classes>
  </test> 
    
  
</suite> 